{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
            <div class="flex items-center justify-center">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="h-40" />
            </div>
            <h2 class="text-xl font-bold mb-6 text-center">Login</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-700">
                        {{ form.username.label_tag }}</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">
                        {{ form.password.label_tag }}</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <div class="mb-4">
                    <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            {% if messages %}
            {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 3000
            });
            {% endfor %}
            {% endif %}
        });
    </script>
</body>

</html>