{% extends 'core/base.html' %}

{% block content %}
<div class="p-5">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold mb-0">Messages</h2>
    <a href="{% url 'send_bulk_sms' %}" class="btn bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 rounded"
      data-bs-toggle="modal" data-bs-target="#sendMessageModal">
      <i class="uil uil-message"></i> Send New Message
    </a>
  </div>

  {% for msg in page_obj %}
  <div class="overflow-hidden w-full mt-5 box-border border
        border-b-4 border-green-500
      rounded-r-md shadow-xl mx-auto">
    <div class="center flex box-border px-6 py-4">
      <div class="content">
        {{ msg.message }}
      </div>
    </div>
    <div class="bottom">
      <div class="p-3">
        <div class="text-gray-700 text-sm">{{ msg.sent_at }}</div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if page_obj.has_other_pages %}
  <div class="flex flex-col items-center mt-4">
    <span class="text-sm text-blue-700">
      Showing <span class="font-semibold text-blue-800">{{ page_obj.start_index }}</span> to
      <span class="font-semibold text-blue-800">{{ page_obj.end_index }}</span> of
      <span class="font-semibold text-blue-800">{{ page_obj.paginator.count }}</span> Entries
    </span>

    <div class="inline-flex mt-2 xs:mt-0">
      {% if page_obj.has_previous %}
      <a class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-700 rounded-s hover:bg-blue-800"
        href="?page=1">First</a>
      <a class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-700 rounded-s hover:bg-blue-800"
        href="?page={{ page_obj.previous_page_number }}">Prev</a>
      {% endif %}

      {% if page_obj.has_next %}
      <a class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-700 border-0 border-s border-blue-700 rounded-s hover:bg-gray-800"
        href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-700 border-0 border-s border-blue-700 rounded-e hover:bg-gray-800"
        href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}