{% extends 'core/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4 text-center text-primary">Send Bulk SMS</h2>
    <div class="card shadow-sm">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.message.id_for_label }}" class="form-label">Message</label>
            {{ form.message|safe }}
            <small class="form-text text-muted">Enter the message to send to all members.</small>
          </div>
          <button type="submit" class="btn btn-primary btn-lg mt-3">Send SMS</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
